<div class="d-flex flex-wrap w-100">
    @if (_plugins is { Count: > 0 })
    {
        foreach (var plugin in _plugins)
        {
            <div class="w-25 w-md-100 w-lg-50 sm-2 border border-1 rounded-2">
                <div class="d-flex justify-content-between align-items-center px-2 pt-3">
                    <span class="fw-bold">
                        @plugin.Name (@plugin.Version)
                    </span>
                    <span>
                        @if (_installedPlugins.Any(x => x.Name == plugin.Name))
                        {
                            <a class="btn btn-primary btn-sm" href="/plugin-manager/@plugin.Assembly">
                                Настройки
                            </a>
                            <button class="btn btn-danger btn-sm" onclick="@(() => UninstallPlugin(plugin))">
                                Удалить
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-success btn-sm" onclick="@(() => InstallPlugin(plugin))">
                                Установить
                            </button>
                        }
                    </span>
                </div>
                <hr/>
                <div class="px-2 pb-2">
                    <span>@plugin.Description</span>
                </div>
            </div>
        }
    }
    else
    {
        <div class="w-100">
            Список плагинов загружается
        </div>
    }
</div>