<div class="d-flex mb-2">
    <AddTopicModal OnTopicAdded="UpdateMainPageEvent"/>
</div>

<div class="d-flex">
    @if (topics == null)
    {
        <div class="w-100 text-center">
            Загружаем список топиков
        </div>
    }
    else if (topics.Count > 0)
    {
        foreach (var topic in topics)
        {
            <div class="border border-1 rounded-3 p-2 me-3">
                <div>
                    <label class="fw-bold">Имя:</label>
                    @topic.Name
                </div>
                <div>
                    <label class="fw-bold">Брокеры:</label>
                    @(string.Join(", ", topic.BrokerIds))
                </div>
                <div>
                    <label class="fw-bold">Фактор репликации:</label>
                    @topic.ReplicationFactor
                </div>
                <div>
                    <label class="fw-bold">Кол-во партиций:</label>
                    @topic.PartitionCount
                </div>
                <div>
                    <label class="fw-bold">Кол-во сообщений:</label>
                    @topic.MessageCount
                </div>
                <div>
                    <label class="fw-bold">Макс. отступ:</label>
                    @topic.MaxOffset
                </div>
                <div>
                    <label class="fw-bold">Мин. отступ:</label>
                    @topic.MinOffset
                </div>
            </div>
        }
    }
    else
    {
        <div class="w-100 text-center">
            Список пуст
        </div>
    }
</div>